.player {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  box-shadow: 0px 0px 50px 0px rgba(5, 9, 19, 1);
  border-radius: 0.8em;
  gap: 1em;
  /* background: #050913; */
  /* overflow: hidden; */
  /* position: -webkit-sticky; */
  /* border: 4px solid lightskyblue; */
}
