.progress-bar {
  display: grid;
  grid-template-areas:
    "range"
    "time";
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-columns: 0.5fr 3fr 0.5fr; */
  /* padding: 1em 1.6em 1em; */
  /* padding: 0.6em; */
  margin: 1em 1.6em;
  gap: 0.8em;
  /* margin: 0 1em 0 1em; */
  /* border: 2px solid green; */
}

.time-info {
  grid-area: time;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-bar span {
  color: #6d7d8c;
  font-weight: 400;
  /* text-align: center; */
}

.progress-bar input[type="range"] {
  grid-area: range;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.progress-bar input[type="range"]::-webkit-slider-runnable-track {
  background: #152448;
  background-image: linear-gradient(#38bdf8, #38bdf8);
  background-size: var(--fill-percentage, 0%) 100%;
  background-repeat: no-repeat;
  height: 0.6em;
  border-radius: 5em;
}

.progress-bar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px;
  background-color: #fff;
  /* background-color: transparent; */
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  /* transition: background 0.3s ease-in-out; */
}

.progress-bar input[type="range"]::-webkit-slider-thumb:hover {
  border: 2px solid #fff;
  background-color: #38bdf8;
  /* transition: background 0.3s ease-in-out; */
}

#time-progress {
  /* grid-area: cur-time; */
  text-align: left;
}

#duration {
  /* grid-area: dur; */
  text-align: right;
}
