.progress-bar {
  display: grid;
  grid-template-areas: "cur-time range dur";
  grid-template-columns: 0.4fr 2fr 0.4fr;
  padding: 1em 0.5em;
  /* border: 2px solid green; */
}

.progress-bar span {
  color: #6d7d8c;
  font-weight: 400;
  text-align: center;
}

.progress-bar input[type="range"] {
  grid-area: range;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.progress-bar input[type="range"]::-webkit-slider-runnable-track {
  background: #152448;
  background-image: linear-gradient(#38bdf8, #38bdf8);
  background-size: var(--fill-percentage, 0%) 100%;
  background-repeat: no-repeat;
  height: 0.5em;
  border-radius: 5em;
}

.progress-bar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px;
  background-color: #fff;
  /* background-color: transparent; */
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  /* transition: background 0.3s ease-in-out; */
}

#time-progress {
  grid-area: cur-time;
}

#duration {
  grid-area: dur;
}
