.track-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding: 1.8em 0 0.5em 0; */
  /* padding-top: 1.8em; */
  gap: 0.5em;
  /* border: 2px solid red; */
}

.track-cover {
  height: fit-content;
  text-align: center;
}

.track-cover img {
  width: 23em;
  height: 23em;
  border-radius: 15%;
  /* object-fit: fill; */
}

.track-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
}

.track-title h1 {
  color: #fff;
  margin: 0;
  /* letter-spacing: 2px; */
}

.track-title h3 {
  color: #6d7d8c;
  font-weight: 600;
  margin: 0;
  /* letter-spacing: 1px; */
}
