.track-card {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template-areas: "cover info duration";
  column-gap: 2em;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 0.5fr 3fr 1fr;
  align-items: center;
  border-radius: 0.8em;
  padding: 0.8em;
  /* background: #050913; */
  box-shadow: 0px 0px 50px 0px rgba(5, 9, 19, 1);

  /* border: 2px solid blue; */
  /* border-top: 1px solid #6d7d8c;
  border-bottom: 1px solid #6d7d8c; */
  /* padding-top: 0.3em; */
}

.cover-div {
  grid-area: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #fff; */
  /* border-radius: 17%; */
  /* text-align: center; */
  /* padding-left: 1em; */
}

.cover-div img {
  width: 50px;
  height: 50px;
  border-radius: 15%;
  object-fit: fill;
  /* margin-top: 3px;
  margin-left: 3px; */
}

.cover-div svg {
  padding: 0.3em;
  border-radius: 15%;
  /* background-color: #fff; */
}

.info-div {
  grid-area: info;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0.1em;
}

.info-div h3 {
  color: #fff;
  margin: 0;
}

.info-div p {
  color: #6d7d8c;
  font-weight: 600;
  margin: 0;
}

.duration-div {
  grid-area: duration;
  text-align: center;
  /* padding-right: 1em; */
  color: #6d7d8c;
  font-weight: 600;
}

.track-card:hover {
  /* box-shadow: 0px 0px 50px 0px rgba(5, 9, 19, 1); */
  background: #152448;
  box-shadow: 0px 0px 50px 0px rgba(21, 36, 72, 0.5);
  /* padding: 0.8em; */
}
