.track-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.8em 0 0.5em 0;
  gap: 1em;
  /* border: 2px solid red; */
}

.track-cover {
  height: fit-content;
  text-align: center;
}

.track-cover img {
  width: 18.5em;
  height: 18.5em;
  border-radius: 15%;
}

.track-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}

.track-title h1 {
  color: #fff;
  margin: 0;
}

.track-title h3 {
  color: #6d7d8c;
  font-weight: 600;
  margin: 0;
}
